body{
  padding:0px;
  margin:0px;
  background-image: url(background.png);
}
header {
  top: 0px;
  background-color: #88a6ea;
  position:fixed;
  width: 100%;
  overflow: hidden;
}
header a{
  text-decoration: none;
  padding: 14px 16px;
  float:left;
  text-align: center;
  color:white;
  font-family: 'Ubuntu', sans-serif;
}
@keyframes headerlinkstart {
  from {
    background-color :#962cf9;
  }
  to {
    background-color: #88a6ea;
  }
}
@keyframes headerlinkend {
  from {
    background-color:#88a6ea ;
  }
  to {
    background-color :#962cf9;
  }
}
header a:hover{
  animation-name: headerlinkend;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
header a{
  animation-name: headerlinkstart;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.maintxt {
  font-size: 100px;
  text-align: center;
  padding-top: 50px;
  color: #ce3d3d;
}
#canvas{
  background-color: white;
  margin: 20px;
  margin-top: 200px;
  padding: 40px;
  border-radius: 15px 25px;
  padding-top: 20px;
}
.text-center {
  text-align: center;
}
.credits{
  color: rgb(173, 173, 173);
}
.canvasheading{
  font-size: 40px;
  text-decoration: underline;
}
.col {
  width: 48%;
}
.clearfix {
    overflow: auto;
}
.footer{
  padding-top: 200px;
  background-color: rgb(45, 46, 56);
  bottom: 0px;
}
.social {
  text-align: center;
}
.icon {
  margin: 0px 14px;
  border: 3px solid rgb(173, 173, 173);
  color:rgb(173, 173, 173);
  border-radius: 100%;
  padding: 10px;
  width: 30px;
  height: 30px;
}
